@charset "UTF-8";
	
	#resumeForm {
		position: relative;
	}
	#resume {
		margin:auto;
	}
	#education, #career, #certificate {
		margin: 20px;
		width: 840px;
	}
	.btn {
		display: flex;
	}
	.center {
		justify-content: center;
	}
	.right {
		justify-content: flex-end;
	}
	button {
		margin: 0 0 0 5px;
	}